
<div style="height: 100vh;">

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-toolbar class="toolbarr">
      <img src="https://i.postimg.cc/vmZh3LGv/logotransparent-26-06.png" width="100px">
      <div class="mat-spacer"></div>

      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a  class="buttonnav" mat-button [routerLink]="['/owner/main-page-owner', userId]">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/owner/vehicle-registration-owner',userId]">REGISTRO VEHICULAR</a>
        <a class="buttonnav" mat-button [routerLink]="['/owner/notifications-owner']">NOTIFICACIONES</a>
        <a class="buttonnav" mat-button [routerLink]="['/owner/rent-owner', userId]">ALQUILER</a>
        <a mat-button (click)="goToProfile()"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
<!--        <a mat-button  [routerLink]="['/owner/perfil-owner/:id']"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>-->
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
        <a  (click)="sidenav.toggle()"><mat-icon>home</mat-icon></a>
      </div>

    </mat-toolbar>

    <router-outlet></router-outlet>

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button > <b style="color: #FF7A00;font-size: 20px">Close</b></a>
        <a  class="buttonnav" mat-button [routerLink]="['/owner/main-page-owner', userId]">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/owner/vehicle-registration-owner',userId]">REGISTRO VEHICULAR</a>
        <a class="buttonnav" mat-button [routerLink]="['/owner/notifications-owner']">NOTIFICACIONES</a>
        <a class="buttonnav" mat-button [routerLink]="['/owner/rent-owner', userId]">ALQUILER</a>
        <a class="buttonnav" mat-button (click)="goToProfile()">PERFIL</a>
      </div>

    </mat-sidenav>
  </mat-sidenav-container>



</div>



