<div  style="height: 100vh; background-color: white; ">

  <div style="display: flex; height: 100vh; background-color: white;">
    <mat-card class="Profile-tenant" style="width: 1000px">
        <mat-card-header>
          <mat-card-title class="letter1">PERFIL DE USUARIO</mat-card-title>
          <mat-card-subtitle class="letter2">Arrendatario</mat-card-subtitle>
        </mat-card-header>

      <mat-card-content class="letter3-ow" >
        <div *ngIf="user">
          <h2>Detalles del Usuario</h2>
          <p><strong>Nombre y Apellidos:</strong> {{ user.firstName + " "+user.lastName }}</p>
          <p><strong>Telefono:</strong> {{ user.phoneNumber }}</p>
          <p><strong>Fecha de Nacimiento:</strong> {{ user.birthDate }}</p>
          <p><strong>Correo:</strong> {{ user.email }}</p>
        </div>
      </mat-card-content>
    <div class="boton_Profile" fxLayout="column" fxShow="true" fxHide.lt-md="true" >
      <button mat-button  style="background-color: #14131B; color: white;">Actualizar Datos</button>
      <br>
      <h4>Subir Documentos de Antecedente Penales</h4>
      <div style="  text-align: center;align-items: center;">
        <input type="file" (change)="onFileSelectedAntecedent($event)" accept="DocAntecedentPenal/*"  style="border: 1px solid transparent; padding: 8px; border-radius: 4px; background-color: #8c8c8c; cursor: pointer;"><br>
      </div>
      <button mat-button  [routerLink]="['/login-tenant']" style="background-color: #14131B; color: white;margin-top:10px">Cerrar Sesión</button>
    </div>
    </mat-card>

    <mat-card class="photo_perfil" fxLayout.xs="column">
      <div *ngIf="imageprofile">
        <img class="img" mat-card-image src="{{imageprofile.imageUrl}}" alt="Photo del usuario" width="500px" >
      </div>
      <mat-card-actions>
        <div style="margin:10px">
          <h4>Cambia tu foto perfil</h4>
          <div>
            <input type="file" (change)="onFileSelected($event)" accept="imagesprofiletenant/*"  style="border: 1px solid transparent; padding: 8px; border-radius: 4px; background-color: #FF7A00; cursor: pointer;"><br>
          </div>
          <div style="margin-top:10px">
            <button mat-raised-button fxFlex="100%"  mat-button style="background-color: #FF7A00; color: white; font-family: 'Poppins', sans-serif;" (click)="onSubmitProfileTenant(); ">Cargar imagen</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    </div>

</div>


