<div style="height: 100vh;">

    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button > <b style="color: #FF7A00;font-size: 20px">Close</b></a>
        <a  class="buttonnav" mat-button [routerLink]="['/main-page-owner']">INICIO</a>
        <a  class="buttonnav" mat-button [routerLink]="['/vehicle-registration-owner']">REGISTRO VEHICULAR</a>
        <a class="buttonnav" mat-button [routerLink]="['/notifications-owner']">NOTIFICACIONES</a>
        <a class="buttonnav" mat-button [routerLink]="['/rent-owner']">ALQUILER</a>
        <a class="buttonnav" mat-button [routerLink]="['/perfil-owner']">PERFIL</a>
      </div>
    </mat-sidenav>

    <div fxLayout.xs="column">

      <mat-card fxFlex="50%">
        <div class="center-content">
          <mat-label style="font-size: 20px;color: #14131B; font-family: 'Poppins',sans-serif;"><b>CONTRATO DE ALQUILER</b></mat-label><br>
          <p style="font-family: 'Poppins',sans-serif;">Suba el contrato de alquiler que mejor le parezca</p>
          <div style="margin:10px">
            <input type="file" (change)="onFileSelected($event)" accept="contrato/*"  style="border: 1px solid transparent; padding: 8px; border-radius: 4px; background-color: #FF7A00; cursor: pointer;">
          </div>
          <br><br><br><br>
          <mat-label style="font-size: 20px;color: #14131B;font-family: 'Poppins',sans-serif;"><b>Vehiculo a compartir</b></mat-label><br>
          <img src="{{getvehicule.imageurl}}" alt="Imagen del vehículo">
          <label style="margin-top: 20px;font-family: 'Poppins',sans-serif;flex-direction: column"> <b>MARCA: </b> {{getvehicule.brand}}</label>
          <label style="margin-top: 20px;margin-bottom: 20px; font-family: 'Poppins',sans-serif;flex-direction: column"><b>MODELO: </b> {{getvehicule.model}}</label>

        </div>
      </mat-card>

      <mat-card fxFlex="50%" style="background-color: darkgray">
        <div class="rectangle" style="font-family: 'Poppins',sans-serif">
          <br>
          <mat-label style="font-size: 20px;color: #14131B; text-align: center; display: block;"><b>Contrato de alquiler</b></mat-label><br>
          <div style="text-align: center;align-content: center;justify-content: center;-webkit-align-content: center;margin-right: 20px;margin-left: 20px">

              <pdf-viewer [src]="pdfSrc"
                          [render-text]="true"
                          [original-size]="false"
                          [stick-to-page]="true"
                          class="pdf-viewer"

              ></pdf-viewer>
          </div>
          <br><br>
          <div style="text-align: center; font-family: 'Poppins',sans-serif;">
            <button mat-raised-button  style="background-color: #FF7A00;color: white" (click)="onSubmitVehicule()" *ngIf="vehicleId !== null" >Subir Contrato</button>

          </div>
          <br><br>
        </div>
      </mat-card>


    </div>
</div>



