    <div class="maintenance_t" >
      <mat-card class="card-share">
        <mat-card-header>
          <mat-card-title class="letter1">
            MANTENIMIENTO
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="letter2">
            Cree una solicitud para su<br>
            arrendador en<br>
            minutos con información<br>
            detallada sobre el<br>
            problema y fotografías<br>
            relevantes.<br>
            Además puede comunicarse<br>
            con el arrendador cuano le<br>
            sea necesario.<br>
          </p>
          <mat-card-subtitle class="letter3">
            Vea la respuesta del<br>
            propietario en su<br>
            correo electrónico<br>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>


      <mat-card class="card-share2">
        <mat-card-content >

          <mat-card-title style="margin-bottom: 20px;justify-content: center;align-content: center">Seleccionar nombre del propietario del auto alquilado</mat-card-title>
          <div style="justify-content: center;align-content: center;text-align:center">
            <mat-form-field style="width:50%;" >
              <mat-label>Seleccionar nombre del propietario del auto alquilado</mat-label>
              <mat-select [(ngModel)]="selectedOption" name="selectedOwner" >
                <mat-option *ngFor="let option of user" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-card-title style="margin-bottom: 20px;">Tipo de problema</mat-card-title>
            <mat-form-field style="width:50%;">
              <input matInput placeholder="Problema">
            </mat-form-field>

            <mat-card-title style="margin-bottom: 20px;">Descripción</mat-card-title>
            <textarea class="input2" matInput placeholder="Descripción" ></textarea>
          </div>


<mat-card style="background-color: transparent;box-shadow: none">
  <mat-card-content style="display:flex;justify-content: center;align-content: center;-webkit-align-content: center;justify-items: center">
    <div style="flex-direction: column;">
      <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
      <button mat-raised-button color="primary" class="button2" (click)="fileInput.click()">Seleccionar archivo</button>

      <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
      <button mat-raised-button color="primary" class="button2" (click)="onUpload()" [disabled]="!selectedFile">Subir archivo</button>
      <button mat-button class="button2" style="background-color: #FF7A00; color: white;" (click)="openSnackBar('¡Se ha enviado el mensaje de mantenimiento al correo del propietario del auto correctamente!', 'Cerrar')">Enviar</button>
    </div>
  </mat-card-content>
</mat-card>

        </mat-card-content>
      </mat-card>


    </div>






