    <div class="maintenance_t" >
      <mat-card class="card-share">
        <mat-card-header>
          <mat-card-title class="letter1">
            MANTENIMIENTO
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="letter2">
            Cree una solicitud para su<br>
            arrendador en<br>
            minutos con información<br>
            detallada sobre el<br>
            problema y fotografías<br>
            relevantes.<br>
            Además puede comunicarse<br>
            con el arrendador cuano le<br>
            sea necesario.<br>
          </p>
          <mat-card-subtitle class="letter3">
            Vea la respuesta del<br>
            propietario en su<br>
            correo electrónico<br>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>


      <mat-card class="card-share2">
        <mat-card-content>
          <mat-card-title style="margin-bottom: 20px;">Seleccionar nombre del propietario del auto alquilado</mat-card-title>

          <mat-form-field>
            <mat-label>Seleccionar nombre del propietario del auto alquilado</mat-label>
            <mat-select [(ngModel)]="selectedOption" name="selectedOwner">
              <mat-option *ngFor="let option of user" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-card-title style="margin-bottom: 20px;">Tipo de problema</mat-card-title>
          <mat-form-field>
            <input matInput placeholder="Problema">
          </mat-form-field>

          <mat-card-title style="margin-bottom: 20px;">Descripción</mat-card-title>
          <textarea class="input2" matInput placeholder="Descripción" style="width: 50%;"></textarea>


          <div>
            <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
            <button mat-raised-button color="primary" class="button2" (click)="fileInput.click()">
              Seleccionar archivo
            </button>
            <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
            <button mat-raised-button color="primary" class="button2" (click)="onUpload()" [disabled]="!selectedFile">
              Subir archivo
            </button>
          </div>

          <button mat-button class="button2" style="background-color: #FF7A00; color: white;" (click)="openSnackBar('¡Se ha enviado el mensaje de mantenimiento al correo del propietario del auto correctamente!', 'Cerrar')">Enviar</button>
        </mat-card-content>
      </mat-card>


    </div>






