<div style="height: 100vh;">
  <div >
    <mat-card class="card-share">
      <mat-card-header>
        <mat-card-title class="letter1">
          <mat-label class="title1" ><b>ALQUILER</b></mat-label>
          <mat-label class="subtitle">Auto Solicitado</mat-label>
        </mat-card-title>
      </mat-card-header>
      <mat-card style="box-shadow: none;border: none;margin-bottom: 20px">
        <mat-card-title style="text-align: end;margin-right: 30px">
        </mat-card-title>
      </mat-card>
      <mat-card-content>
        <p-carousel [value]="user" [numVisible]="3" [numScroll]="1" [circular]="true"  [responsiveOptions]="responsiveOptions" >
          <ng-template let-rent pTemplate="item" >
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" >
              <div class="mb-3" style="border-radius: 10px;text-align: center;justify-content: center">
                <img src="{{rent.imageUrl}}" class="img_vehicule" />
                <h4 class="mb-1"><b>SOLICITANTE:</b>{{ rent.nametenant}}</h4>
                <h4 class="mb-1"><b>TELÉFONO DE SOLICITANTE:</b>{{ rent.phonenumber}}</h4>
                <h4 class="mb-1"><b>MARCA:</b>{{ rent.brand}}</h4>
                <h4 class="mt-0 mb-3"><b>MODELO:</b>{{ rent.model }}</h4>
                <h4 class="mt-0 mb-3"><b>ESTATUS :</b>{{ rent.rentStatus}}</h4>
                <button mat-button style="background-color:#14131B; color: white" (click)="profiletenant(rent.rentId, rent.tenantId)"  [routerLink]="['/owner/profile-rent-tenant',userId]">Ver Perfil del solicitante</button>

              </div>
            </div>
          </ng-template>
        </p-carousel>
      </mat-card-content>
    </mat-card>

  </div>
</div>
