
<div style="height: 100vh;">



<div >
  <mat-card class="card-share">
    <mat-card-header>
      <mat-card-title class="letter1">
        <mat-label class="title1" ><b>ALQUILER</b></mat-label>
        <mat-label class="subtitle">Autos Alquilados</mat-label>
      </mat-card-title>
    </mat-card-header>
    <mat-card style="box-shadow: none;border: none;margin-bottom: 20px">
      <mat-card-title style="text-align: end;margin-right: 30px">
        <button mat-button style="background-color:#14131B ;color: white" [routerLink]="['/tenant/share-auto-tenant',userId]">Alquilar Nuevo auto</button>
      </mat-card-title>
    </mat-card>
    <mat-card-content>
      <p-carousel [value]="user" [numVisible]="3" [numScroll]="1" [circular]="true"  [responsiveOptions]="responsiveOptions" >
        <ng-template let-rent pTemplate="item" >
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" >
            <div class="mb-3" style="border-radius: 10px;text-align: center;justify-content: center">
              <img src="{{rent.imageUrl}}" class="img_vehicule" />
              <h4 class="mb-1"><b>MARCA:</b>{{ rent.brand}}</h4>
              <h4 class="mb-1"><b>MODELO:</b>{{ rent.model }}</h4>
              <h4 class="mb-1"><b>ESTATUS :</b>{{ rent.rentStatus }}</h4>
              <h4 class="mb-1"><b>PROPIETARIO :</b>{{ rent.ownername }}</h4>
              <h4 class="mb-1"><b>TELÉFONO DE PROPIETARIO :</b>{{ rent.ownerphone}}</h4>

              <button mat-button style="background-color:#14131B; color: white" (click)="paymentvehicule(rent.ownerId,rent.id)  "  [routerLink]="['/tenant/pay-car-rental',userId]"  *ngIf="rent.rentStatus === 'CONFIRMED'">Pago</button>
<!--              <button mat-button style="background-color:#14131B; color: white" (click)="cancelrent(rent.ownerId,rent.id)  "  [routerLink]="['/tenant/pay-car-rental',userId]" >CANCELAR SOLICITUD</button>-->

            </div>
          </div>
        </ng-template>
      </p-carousel>
    </mat-card-content>
  </mat-card>


</div>
</div>


