
<div style="height: 100vh;">

    <mat-card style="border-radius: 0;box-shadow: none">
      <mat-card-content class="contenedor2">
        <br>
        <mat-label style="font-size: 30px;color:#FF7A00 "> <b> NOTIFICACIONES</b></mat-label><br>
        <div *ngFor="let bundle of user" class="student-card">
          <mat-card class="container_2">
            <mat-card-content>
              <p aria-label="rating"> {{ bundle.tenantName }} envio una solitud una solicitud de Alquiler del Vehículo {{bundle.vehicleBrand}}, {{bundle.vehicleModel}}</p>
            </mat-card-content>
          </mat-card>
          <br>
        </div>
      </mat-card-content>
    </mat-card>

</div>



