@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.container{
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
}
.container_1{
  place-items: center;
  background-color: whitesmoke;
}
.container_2{

  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  place-items: center;
  grid-auto-rows: 100px;
}
.description_request{
  display: flex;
}
.status{
  display: flex;
}
@media all and (max-width: 840px) {
  .container{
    flex-direction: column;
    max-width: 800px;
  }
  .container_1{
    background-color:whitesmoke;
  }
  .container_2{
    flex-direction: column;
  }
  .description_request{
    flex-direction: column;
  }

}
