<div  style="height: 100vh; background-color: white; ">

    <div >
      <div class="titulo">
        <h1 class="txt-1">SOLICITUDES</h1>
      </div>

      <div class="car">
        <div class="title_derecha">
          <h3 >Solicitud de alquiler del alquiler del vehiculo Toyota Prius</h3>
        </div>
        <div class="izquierda">
          <img class="img" mat-card-image src="https://imgur.com/xWEj5ZJ.png" alt="photo-car" width="200px">
          <h5>ESTATUS: EN ESPERA</h5>
        </div>
      </div>

    </div>
</div>
