<div class="container">
  <div *ngFor="let bundle of request" >
    <mat-card class="container_1">
      <mat-card-content class="container_2">
        <div class="description_request">
          <label  aria-label="descriptions" style="margin-right: 20px"> {{ bundle.descriptions }}</label>
        </div>
        <div  >
          <img src='{{ bundle.img_src }}' width="150px">
          <p aria-label="status"><strong>Status:</strong> {{ bundle.status }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <br>
  </div>
</div>
