<div style="height: 100vh;">



    <mat-card fxFlex="100%" style="min-height: 15vh; display: grid; grid-template-areas:
  'label p'
  'button button';">

      <mat-label style="grid-area: label; font-size: 20px; color: #14131B; font-family: 'Poppins', sans-serif; margin: 20px;"><b>Pago de alquiler</b></mat-label>

    </mat-card>

    <mat-card>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxFlex="50" fxFlex.lt-md="100">
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Precio de alquiler: S/ 800.00 x mes</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Tiempo de alquiler: 1 mes</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de inicio de contrato: 31 de agosto de 2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Fecha de fin del contrato: 31 de setiembre de 2023</p>
          <p style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;">Lugar de recojo y entrega del vehículo: Surco - Av. Tomas Marsano</p>
          <mat-label style="grid-area: label; font-size: 20px; color: #14131B; font-family: 'Poppins', sans-serif; margin: 20px;"><b>Monto a pagar: S/ 800.00</b></mat-label>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0HbJoi3q8SuPYSM9VcLUpLFMKGMh4bjTTNw" alt="Imagen" style="max-width: 100%; max-height: 100%;"/>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="100%" style="min-height: 15vh">
      <h1 style="text-align: left; font-family: 'Poppins', sans-serif; margin: 20px;"><br><br>¿Cómo desea pagar?</h1>
      <div fxLayout="row" fxLayoutGap="20vw" fxLayoutAlign="center center" style="margin:40px">
        <button mat-raised-button style="background-color: #14131B; color: white; font-family: 'Poppins', sans-serif">
          Efectivo
        </button>
        <button mat-raised-button style="background-color: #14131B; color: white; font-family: 'Poppins', sans-serif">
          Online
        </button>
      </div>
    </mat-card>

</div>



