<div style="height: 100vh; flex-direction: row">

    <mat-card fxFlex="100%" style="min-height: 15vh; display: grid; grid-template-areas:
  'label p'
  'button button';">

      <mat-label style="grid-area: label; font-size: 30px; color: #FF7A00; font-family: 'Poppins', sans-serif; margin: 20px;"><b>PAGO DE ALQUILER</b></mat-label>

    </mat-card>

    <mat-card style="margin: 30px">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="100px" style="margin: 30px">
        <div fxFlex="50" fxFlex.lt-md="200" style="margin-right: 30px">
        <div *ngIf="user">
          <h2>Detalles para el Pago</h2>
          <p><strong>Precio de alquiler: </strong> <b>{{ user.price }} soles</b> </p>
          <p><strong>Tiempo de Alquiler </strong> {{ user.amountthetime }} {{ user.time }}</p>
          <p><strong>Lugar de recojo y entrega del vehículo:</strong> {{ user.location }}</p>
        </div>
        </div>
        <div fxFlex="50" fxFlex.lt-md="100">
          <div *ngIf="user">
          <img src="{{user.imageurl }}" alt="Imagen" style="max-width: 70%; max-height: 70%;"/>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="100%" style="min-height: 5vh">
      <h1 style="text-align: center; font-family: 'Poppins', sans-serif; margin: 20px;"><br><br>Coloca el dia, mes y hora para el recojo del vehiculo</h1>

      <div fxLayout="column" fxLayoutGap="1vw" fxLayoutAlign="center center" style="margin:5px">

        <mat-form-field appearance="fill" fxFlex="calc(20% - 10px)" style="font-family: 'Poppins',sans-serif;">
          <mat-label>DIA</mat-label>
          <input matInput [(ngModel)]="user" type="number" name="amoutthetime" placeholder="Dia">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="calc(20% - 10px)" style="font-family: 'Poppins',sans-serif;">
          <mat-label>MES</mat-label>
          <input matInput [(ngModel)]="user" type="number" name="amoutthetime" placeholder="Mes">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="calc(50% - 20px)" style="font-family: 'Poppins',sans-serif;">
          <mat-label>HORA</mat-label>
          <input matInput [(ngModel)]="user" type="number" name="amoutthetime" placeholder="HORA">
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex="calc(50% - 20px)" style="font-family: 'Poppins',sans-serif;">
          <mat-label>AM/PM</mat-label>
          <input matInput [(ngModel)]="user" type="number" name="amoutthetime" placeholder="AM/PM">
        </mat-form-field>

        <button mat-raised-button style="background-color: #14131B; color: white; font-family: 'Poppins', sans-serif">
          Confirmar Fecha y hora de Alquiler
        </button>
      </div>
    </mat-card>

</div>



