<div  style="height: 100vh; background-color: white; ">




    <div style="display: flex; height: 100vh; background-color: white;">
      <mat-card class="Profile-owner" style="width: 1000px">
        <mat-card-header>
          <mat-card-title class="letter1-ow">PERFIL DE USUARIO</mat-card-title>
          <mat-card-subtitle class="letter2-ow">Propietario</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="letter3-ow" >
          <div *ngIf="user">
            <h2>Detalles del Usuario</h2>
            <p><strong>Correo:</strong> {{ user.email }}</p>
            <p><strong>Contraseña:</strong> {{ user.password }}</p>
            <p><strong>ID de Usuario:</strong> {{ user.userid }}</p>
            <!-- Otros detalles del usuario -->
          </div>
        </mat-card-content>
        <div class="boton_Profile-owner" fxLayout="column">
          <button mat-button  style="background-color: #14131B; color: white;">Actualizar Datos</button>
          <br>
          <button mat-button [routerLink]="['/login-owner']" style="background-color: #14131B; color: white;">Cerrar Sesión</button>
        </div>
      </mat-card>

      <mat-card class="photo_perfil" >
        <img class="img" mat-card-image src="https://imgur.com/YP2XnZT.png" alt="Photo del usuario" width="500px" >
        <mat-card-actions>
          <button class="button_Image" mat-button style="background-color: #14131B; color: white;">Cambiar foto perfil</button>
        </mat-card-actions>
      </mat-card>
    </div>


</div>
